@charset "UTF-8";

@font-face{
	font-family: 'MjMJGothic';
	src: url("/font/MjMJGothic.ttf") format("truetype");;
}


	button[id="mypage"]{
		border:none;
		font-size: 15px;
		margin: auto;
		width: 100%;
		height: 40px;
		color: black;
	}
	
	.up_span{
		display: flex;
	    width: 600px;
	}

	.center.btmspace-80 {
		margin-bottom:35%;
		height:100%;
		width:100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	.date_top{
		text-align: -webkit-center;
    	padding: 10px;
    	width: 800px;
	}

	.date_btn{
		float: left;
		padding: 10px;
		width: 33%;
	}

	.date_btn input{
		width: 100px;
    	height: 40px;
    	font-size: 15px;
    	border: none;
    	font-weight: bold;
	}

	.list_main {
		margin-left: 50px;

	}

	.list_search {
		position: absolute;
	    margin-left: 30px;
	    margin-top: -200px;
	    border-radius: 0.5rem;
	}

	.list_search tr td {
		vertical-align:middle;
		text-align:center;
		font-size:15px;
		padding:0;
		border:0;
	}

	.list_search tr td input {
		margin:auto;
	}

	.list_search tr td input[type='button']:hover {
		background-color:dimgray;
		color:wite;
	}

	.list_search tr td input[type='button'] {
		display: block;
		height:50px;
		width:90px;
		border:0;

		color:black;
		padding: 0.5rem;
  		line-height: 1rem;
	}

	.cal{
	    margin-top: 100px;
    	display: flex;
    	justify-content: space-evenly;
    	font-size: 17px;
	}

	.cal_in input{
		border:none;

	}

	.search_btn{
		float: right;
    	margin-top: 20px;
	}

	.search_btn input{
		width: 100%;
	    height: 30px;
	    font-size: 15px;
	    border: none;
	    font: white;
	}



	div[id='result'] {
		grid-row: 2 / 4;
	}


	.main {
		margin-top:30px;
		grid-column: 2 / 7;
		display: grid;
		height:100%;
	}

	.main_h{
		margin-left: 100px;

	}
	.main h1 {
		font-size:40px;
		font-family:inherit;
		text-align: left;
		margin-left: 30px;
		padding-bottom: 10px;
		width: 30%;
		margin-top: 30px;
	}

	section.hoc.container.clear {
		margin:0;
		height:100%;
		max-width:100%;
	}

	.mypage_center{
	    font-weight: bold;

	}

	.menu_first{
		margin-bottom: 250px;
   	 	margin-right: 40px;
   	}

	.menu h1 button {
		display:block;
		margin:auto;
		background-color: #27282E;
		border:0;
		width:100%;
		height:100%;
	}

	.menu h1 button:hover {
		background-color:white;
		color:black;
	}


	.menu_list {
	    display: block;
	    padding: 0 20px;
	    font-size: 12px;
	    color: black;
	    margin-top: 30px;
	    width: 200px;
	}

	.menu input[type="button"] {
		height: 100%;
	    width: 100%;
	    border: 0;
	    margin-left: 40px;
	    font-size: 15px;
	}

	.menu ul {
		height:100%;
		padding:0;
	}

	.menu li{
		height:40px;
		width:100%;
	}

	.menu li input[type="button"]:hover {
		background-color: #696969;
		color:white;
	}


	.main_emp_s{
		display: flex;
	}

	.main_emp_s input{
		border: none;
   		background: padding-box;
	}

	.emp_menu_list{
		display: block;
	    padding: 0 20px;
	    font-size: 12px;
	    color: black;
	    margin-top: 30px;
	    width: 200px;
	}

	.menu_two{
		margin-bottom: 200px;
	}


	.content{
		 margin-left: 60px;
		 font-size: 14px;
    	font-weight: bold;
	}

	.contents {
		width:800px;
		display: flex;
		margin-left: 30px;
		border-radius: 0.5rem;
		padding: 20px;
  		background: white;
	}

	.contents_1 {
		width: 700px;
	    display: flex;
	    margin-left: 30px;
	    border-radius: 0.5rem;
	    padding: 0.5rem;
	    line-height: 1rem;
	    margin-top: 30px;
	    justify-content: space-between;
	}


	.contents table {
		margin:0;
		border:0;
	}

	.contents td {
		border:0;
		opacity: 1;
	}

	.contents td div{

		height:60px;
		padding-bottom:10px;
		border-radius: 0.5rem;
		padding: 0.5rem;
  		line-height: 1rem;

	}

	.my_info td span.title {
		font-size:15px;
		height:30%;
		width:100%;
		text-align:left;
		display:block;
	}

	.my_info td span.content {
		font-size:15px;
		height:50%;
		width:100%;
		text-align:right;
		display:block;
	}

	table[id='reserve_stat'] span {
		font-size:15px;
		text-align:left;
		padding:15px;
	}

	table[id='reserve_stat'] td div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	table[id='reserve_stat'] td {
		width:50%;
	}

	table[id='reserve_stat'] td span.title {
		display:block;
		height:100%;
		width:100%;
		font-weight:bold;
	}

	table[id='reserve_stat'] td span.content {
		display:block;
		height:100%;
		width:100%;
		border-left:1px solid gray;
	}

	div.btns {
		display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	width: 100%;
   	 	justify-items: right;
		color:black;
	}

	div.btns input[type="button"] {
		width:100%;
		height:50px;
		font-size: 15px;
		border: none;
    	color: white;
    	background-color: #696969;
    	border-radius: 0.40em;
	}
	div.btns input[type="button"]:hover{
	color:#000;
	background-color: #D7D7D7;
	}



	.main_leftinfo{
		display: flex;
	}

	.main_left {
		width: 50%;
    	font-size: 13px;
    	float: left;
    	border-right: solid;
    	margin-left: 20px;
    	display: flex;
   	 	flex-direction: column;
   		justify-content: space-around;
	}

	.main_rightinfo{
		display: flex;
	}


	.main_right{
	    width: 50%;
    	font-size: 13px;
    	float: right;
    	margin-left: 20px;
    	display: flex;
   	 	flex-direction: column;
   		justify-content: space-around;
	}


	.title{
		width: 200px;
    	text-align: left;
    	font-size: 14px;
    	font-weight: bold;
	}

	.res_title{
		text-align: center;
	}


	.res_center{
		width:800px;
		margin-left: 30px;
		border-radius: 0.5rem;
		padding: 20px;
  		line-height: 1rem;
  		background: white;
	}

	.stat_bottom{
		display: flex;
	}


	.title_bottom{
		margin-left: 30px;
	    font-weight: bold;
	    margin-top: 10px;
	}

	.content_bottom{
		margin-left: 30%;
		font-weight: bold;
	    margin-top: 10px;

	}

	.mypage_h{
		margin-left: 25px;
    	padding: 10px;
	}

	.top_right{
		display: flex;
	}

	.top_left{
		display: flex;
	}


/* 개인정보변경 페이지 */


	.update_main {
		padding: 30px;
   		display: -webkit-box;
    	margin-left: 100px;
	}

	.update_mem_div{
		width: 600px;
	}

	.update_input{
		background-color: transparent;
	    border: none;
	    border-bottom: inset;
	    border-bottom-color: #D7D7D7;
	    width: 100%;
	    height: 40px;
    }

    .update_button{
    	width: 50px;
    }

	.update_mem_left{
		display: flex;
    	font-weight: bold;
    	margin-bottom: 10px;
    	flex-direction: column;
	}

	.update_c{
		display: contents;
	}

	.update_center{

		width: 500px;
	    margin-left: 200px;
	    display: contents;
	}

	.update_btn{
		float: right;
    	margin-top: 20px;
	}

	.update_btn input{
		width: 100%;
	    height: 30px;
	    font-size: 15px;
	    border: none;
	    font: white;
	}


/* 예약변경 페이지 */
	.reserv_center{
		width: 500px;
	    margin-left: 200px;
	    margin-bottom: 400px;
	}

	.reserv_main{
		padding: 30px;
	}

	.reserv_left input{
		background-color: transparent;
	    border: none;
	    border-bottom: inset;
	    border-bottom-color: #D7D7D7;
	    width: 100%;
	    height: 40px;
    }

	.reserv_left{
		display: flex;
	}

	.reserv_btn{
		float: right;
    	margin-top: 20px;
	}

	.reserv_btn input{
		width: 100%;
	    height: 30px;
	    font-size: 15px;
	    border: none;
	    font: white;
	}

	.reserv_div{
		width: 400px;
	}

