<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="first.project.dao.MapDao">
	<select id="buserinfo" parameterType="String" resultType="first.project.dto.buserDto">
		select * from buser where userid = #{id}
	</select>	
	
	<insert id="reservation" parameterType="first.project.dto.reservation">
		insert into reservation values(#{bhname},#{userid},#{resdate},#{restime},#{goods},#{bhselect},reservation_seq.nextval,#{resstate})
	</insert>
	
	<select id="resselect" parameterType="String" resultType="first.project.dto.reservation">
		select * from reservation where userid = #{id}
	</select>
	
	<update id="updateUserPhone" parameterType="map">
		update buser set userphone = #{userphone} where userid = #{userid}
	</update>
	
	<update id="updateUserBtype" parameterType="map">
		update buser set userbtype = #{userbtype} where userid = #{userid}
	</update>
	
	<select id="res_userid_count" parameterType="String" resultType="int">
		select count(userid) from reservation where userid = #{userid}
	</select>
	
	<select id="selectage" resultType="int" parameterType="String">
		SELECT MONTHS_BETWEEN(TRUNC(SYSDATE,'YYYY'),TRUNC(TO_DATE(userbirth),'YYYY'))/12 +1 as userage FROM buser where userid = #{userid}
	</select>
	
	<select id="search_bhname" resultType="first.project.dto.bloodhouse" parameterType="String">
		select * from bloodhouse where bhname like '%'||#{info}||'%'
	</select>
	<select id="search_bhlocation" resultType="first.project.dto.bloodhouse" parameterType="String">
		select * from bloodhouse where bhlocation like '%'||#{info}||'%'
	</select>
</mapper>